* {
	margin: 0;
	padding: 0;
	color: black;
	font-family: serif;
}

ul {
	list-style: none;
}

em{
	font-style: normal;
	color:red;
}

.bar{
	background-color: #f6f6f6;
	margin: 0;
	height: 30px;
	font-size: 0.75em;
}


.userbar {
	position: absolute;
	right: 0;
	width: 60%;
}

.gdbar {
	position: absolute;
	width: 40%;
}

.userbar,
.gdbar{
	height: 20px;
	margin: 5px 0;
}

.item a {
	text-decoration: none;
	display: inline-block;
	height: 20px;
	line-height: 20px;
}



.userbar .right .item,
.gdbar .left .item{
	height: 20px;
	float: left;
	padding: 0 22px;
	border-right: 2px solid #f0f0f0;
}





