* {
	margin: 0;
	padding: 0;
	color: #333;
	text-decoration: none;
	font-family: serif;
}

ul {
	list-style: none;
}

em{
	font-style: normal;
	color:red;
}

.back_div{
	position: absolute;
	height: 40px;	
}

.back_last_div{
	position: absolute;
	top:160px;
	height: 100%;
	
}

.back_div,
.back_last_div{
	width: 100%;
	background-color: #f6f6f6;
	z-index: 0.1;
}

.bar{
	background-color: #f6f6f6;
	margin: 0;
	height: 40px;
	font-size: 0.75em;

}


.userbar {
	position: absolute;
	right: 0;
	/*width: 50%;*/
}

.gdbar {
	position: absolute;
	/*width: 40%;*/
}

.userbar,
.gdbar{
	height: 20px;
	margin: 10px 0;

}

.item a {
	display: inline-block;
	height: 20px;
	line-height: 20px;
}



.right .item,
.left .item{
	height: 20px;
	float: left;
	padding: 0 22px;
	border-right: 2px solid #D4D4D4;
}

.center_bar{
	position: relative;
	width: 1200px;
	left: 50%;
	margin-left: -600px;
}

.logo_bar{
	/*background-color: pink;*/
	height: 88px;
	position: relative;
	font-size: 14px;
}

#logo_i{
	display: inline-block;
	height: 48px;
	margin: 20px;
	position: absolute;
	left: 0;

}

#logo{
	width: 165px;
	height: 48px;
}

.location_div{
	height: 88px;
	position: absolute;
	left: 205px;
}

#location{
	line-height: 88px;
	height: 88px;
	padding: 0 10px;
	display: inline-block;
}


#location:hover{
	color: #f40;

}

.line{
	border-left: 2px solid #D4D4D4;

}

.search_bar{
	height: 88px;
	/*background-color: pink;*/
	display: inline-block;
	position: absolute;
	left: 400px;

}
table {
	margin: 23px 0;
	height: 40px;
	/*border: 1px solid black;*/
	border-collapse:collapse;
}


.search_bar table td,
.search_txt{
	height: 40px;
	overflow: hidden;
}

#search_a{
	color:#fff;
	padding: 0 20px;
	display: inline-block;
	line-height: 40px;
	background-color: #ff6b37;	
}

.search_txt{
	width: 400px;
	outline: none;
}

.search_txt,
#search_a{
	border: 2px solid #ff6b37;
}

.second_title{
	position: relative;
	height: 32px;
	width: 100%;
}


.second_title .right .item{
	height: 32px;
	line-height: 32px;
	font-weight: 900;
	border-right: 0;
	/*padding: 0 40px;*/
}

#a_left{
	background-color: #ff6b37;
	display: inline-block;
	line-height: 32px;
	height: 32px;
	padding: 0 100px 0 10px;
	color: #fff;
}

.all_ad{
	height: 600px;
	background-color: #AEEEEE;
	width: 100%;
	position: absolute;
	top: 160px;
	z-index: 1;
}

.ad_right{
	position: absolute;
	right: 0;
	background-color: #CD5555;
	width: 200px;	
}



.ad_left,
.ad_center,
.ad_right{
	height: 570px;
	margin: 10px 0;
}


.ad_left{
	position: absolute;
	left: 0;
	margin-top: 0px;
	/*background-color: #CD5555;*/
	width: 200px;
	
}

.ad_center{
	position: absolute;
	left: 200px;
	background-color: #CAE1FF;
	right: 200px;
}

.ad_left_table .ad_ul{
	/*background-color: #8B668B;*/
}

.ad_left_table .ad_ul .ad_item{
	margin-left: 22px;
	background-color: #383131;
	width: 175.25px;
	padding-top: 5px;
}

.ad_div:hover{
	background-color: #515151;
}


.first_ti{
	font-weight: bolder;
	color: #fff;
	font-size: 0.8em;
}



span{
	margin-left: 2px;
	line-height: 30px;
	color: #EEEEE0;
	font-size: 0.6em;
	
}

span:hover{
	color: red;
}


