*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: black;
}

.wrapper{
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
}

/* 导航条开始*/

.wrapper .top_nav_wrapper{
	width: 100%;
	height: 35px;
	
}

.wrapper .top_nav_wrapper .top_nav{
	width: 1190px;
	height: 35px;
	margin: 0 auto;
	background-color: #f5f5f5;
}

.wrapper .top_nav_wrapper .top_nav .top_nav_l{
	float: left;
}
.wrapper .top_nav_wrapper .top_nav .top_nav_r{
	float: right;
}

.wrapper .top_nav_wrapper .top_nav li{
	float: left;
	font-size: 12px;
	height: 35px;
	line-height: 35px;
	margin-right: 10px;
	font-weight: 300;
}

.wrapper .top_nav_wrapper .top_nav li a{ 
	color: #6C6C6C;
}

.wrapper .top_nav_wrapper .top_nav .bgimg{
	display: inline-block;
	width: 8px;
	height: 8px;
	background-size: 100% 100%;
	background-image: url('img/arrow_down.png');

}

.wrapper .top_nav_wrapper .top_nav .gwc{
	background-image: url('img/shop.png');
}

.wrapper .top_nav_wrapper .top_nav .star{
	background-image: url('img/star.png');
}

.wrapper .top_nav_wrapper .top_nav .website{
	background-image: url('img/detail.png');
}

.wrapper .top_nav_wrapper .top_nav .select,
.wrapper .top_nav_wrapper .top_nav a:hover{
	color: #f40;
}

/*导航条结束*/

/*搜索框开始*/
.wrapper .search_wrapper{
	width: 100%;
	height: 121px;
	background-color: #fff;
	position: relative;
}

.wrapper .search_wrapper .search_wrapper_box{
	width: 1190px;
	height: 97px;
	padding-top: 24px;
	/*border: 1px solid black;*/
	margin: 0 auto;
	position: relative;
}

.wrapper .search_wrapper .search_wrapper_box .logo_box{
	width: 190px;
	height: 80px;
	margin-top: 8px;
}


.wrapper .search_wrapper .search_wrapper_box .logo{
	display: inline-block;
	width: 142px;
	padding-top: 58px;
	background-image: url('img/logo.png');
	background-size: 100% 100%;
	margin-left: 22px;
}

/*开始输入框*/
.wrapper .search_wrapper .search_wrapper_box .input_wrapper{
	right: 165px;
	left: 228px;
	top: 24px;
	position: absolute;
	height: 88px;
	width:553px;
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_div{
	width:553px;
	height: 58px;

}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_div .input_ul{
	height: 22px;
	margin-left: 24px;
	/*background-color: #ff2;*/
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_ul li{
	float: left;
	font-weight:300;
	font-size: 12px;
	height: 22px;
	line-height: 22px;	
	margin-right: 4px;
}
.wrapper .search_wrapper .search_wrapper_box .input_wrapper ul li a{
	display: inline-block;
	color: #f40;
	line-height: 22px;
	height: 22px;
	width: 36px;
	text-align: center;
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper ul li a:hover{
	background-color: #ffeee5;
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_div .select{
	color: #fff;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	/*border-bottom:1px solid black;*/
}

.wrapper .search_wrapper .search_wrapper_box .input_div .input_ul:after{
	content: "";
	display: inline-block;
	clear:both;
}

/*输入框*/
.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_search{
	height: 32px;
	position: relative;
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_search .input_box{
	border: 2px solid #f40;
	height: 32px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-right: none;
	padding-left: 4px;
	position: relative;
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_search .btn_bo{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_search .input_box .input{
	border: none;
	outline: none;
	display: inline-block;
	height: 32px;
	padding-left: 20px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_search .btn_box{
	position: absolute;
	right: -70px;
	top: 0;
	width: 70px;
	height: 36px;
	text-align: center;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	border: none;	
	color: #fff;
	font-size: 16px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}


.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_search .magn{
	background-image: url('img/magn.png');
	display: inline-block;
	width: 15px;
	height: 15px;
	background-size: 100% 100%;
	position: absolute;
	top:10px;
	left: 7px;

}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_search .camera{
	background-image: url('img/camera.png');
	right: 8px;
	top: 8px;
	position: absolute;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-size: 100% 100%;
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_title{
	height: 22px;
	width: 627px;
	/*border:1px solid black;*/
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_title .title_ul li{
	float:left;
	margin-top: 2px;
	font-size: 12px;
	color:#3C3C3C;
	margin-right: 4px;
}

.wrapper .search_wrapper .search_wrapper_box .input_wrapper .input_title .title_ul .select{
	color: #f40;
}

.wrapper .search_wrapper .search_wrapper_box .erweima_box{
	width: 76px;
	height: 90px;
	position: absolute;
	right:110px;
	top: 20px;
	border:1px solid #DDD;
}

.wrapper .search_wrapper .search_wrapper_box .erweima_box .close{
	position: absolute;
	left:-17px;
	top: 0;
	display: inline-block;
	border:1px solid #DDD;
	font-size: 8px;
	color: #C9C9C9;
	height: 14px;
	width: 14px;
	line-height: 14px;
	text-align: center;
	/*padding: 0 2px;*/
}

.wrapper .search_wrapper .search_wrapper_box .erweima_box .phone_tao{
	display: inline-block;
	font-size: 12px;
	color: 12px;
	text-align: center;
	width: 100%;
	height: 22px;
	line-height: 22px;
	color: #f40;
}

.wrapper .search_wrapper .search_wrapper_box .erweima_box .erweima{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-size: 100% 100%;
	background-image: url('img/erweima.jpg');
	margin-left: 9px;
}

/*中间的title行*/
.wrapper .mid_web_wrapper{
	width: 100%;
	height: 30px;
	/*background-image: */

}

.wrapper .mid_web_wrapper .web_box{
	width: 1190px;
	height: 30px;
	margin: 0 auto;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}

.wrapper .mid_web_wrapper .web_box .title{
	display: inline-block;
	width: 190px;
	height:30px;
	line-height: 30px;
	text-align: center;
	background-color: #f40;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	float: left
}

.wrapper .mid_web_wrapper .web_box ul{
	float: left;
}

.wrapper .mid_web_wrapper .web_box ul li{
	float: left;
	line-height: 30px;
	height: 30px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	margin: 0 3px;
	padding: 0 4px;
}

.wrapper .mid_web_wrapper .web_box ul li a{
	color: white;
	padding: 0 5px;
}
.wrapper .mid_web_wrapper .web_box ul li a:hover{
	color: #f40;
}

/*主要内容展示区*/
.wrapper .main_wrapper{
	width: 100%;
	height: 632px;
}

.wrapper .main_wrapper .main_box{
	width: 1190px;
	height: 632px;
	margin:0 auto;
	position: relative;
}

.wrapper .main_wrapper .main_box .left_box{
	height: 632px;
	margin-right: 290px;
	border: 1px solid black;
}


.wrapper .main_wrapper .main_box .left_box .left_top_box{
	width: 100%;
	height: 522px;
	/*background-color: pink;*/
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .all_ul_box{
	width: 190px;
	height: 522px;
	/*border: 1px solid yellow;*/
	float: left;
	background-color: #fff;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .all_ul_box .list_shop{
	/*height: 100%;*/
	width: 190px;
	padding-top: 5px;
	padding-bottom: 3px;
	border:1px solid #ff5000;
	border-top: none;
	
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .all_ul_box .list_shop li{
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 400;
	color:#666;
	padding-left: 20px;
	padding-right: 19px;
	position: relative;
	/*width: 145px;*/
	/*background-color: pink;*/
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .all_ul_box .list_shop li a{
	color: #666;
	padding-right: 5px;
	/*background: red;*/
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .all_ul_box .list_shop li:hover,
.wrapper .main_wrapper .main_box .left_box .left_top_box .all_ul_box .list_shop li:hover a{
	background-color: #ffe4dc;
	color: #ff5000;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .all_ul_box .list_shop li:hover a:hover{
	color: #ff5000;
	text-decoration: underline;
}
.wrapper .main_wrapper .main_box .left_box .left_top_box .all_ul_box .list_shop .rjt{
	display: inline-block;
	width: 7px;
	height: 11px;
	background-size: 100% 100%;
	background-image: url('img/arrow_right.png');
	position: absolute;
	right: 13px;
	top: 10px;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box{
	margin-top: 5px;
	/*height: 512px;*/
	/*padding-top: 10px;*/
	width: 520px;
	/*border: 1px solid red;*/
	float: left;
	padding: 0 10px;
	/*background-color: #fff;*/
}
.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box .pic1{
	position: relative;
}
.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box ul{
	position: absolute;
	bottom: 20px;
	right: 185px;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box ul li{
	width: 10px;
	height:10px;
	float: left;
	margin-right: 10px;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box ul li a{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;

}

.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box ul li .select{
	background-color: #f40;
}
.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box .mid_phone{
	height: 24px;
	line-height: 24px;
	width: 100%;
	/*border:1px solid blue;*/
	position: relative;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box .mid_phone .tianmao{
	display: inline-block;
	width: 50px;
	height: 24px;
	background-size: 100% 100%;
	background-image: url('img/tiaomao.jpg');
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box .mid_phone .tianmao_red{
	display: inline-block;
	/*width: 50px;*/
	height: 24px;
	line-height: 24px;
	vertical-align:bottom;
	color: red;
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 3px;
}
.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box .mid_phone .tianmao_phone{
	display: inline-block;
	height: 24px;
	line-height: 24px;
	vertical-align:bottom;
	color: #666;
	font-size: 12px;
	margin-left: 10px;
	padding-bottom: 3px;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box .mid_phone .tianmao_num{
	position: absolute;
	right: 10px;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box .mid_phone em{
	color: red;
	font-style:normal;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box .pic2{
	border-top: 3px solid #f40;
	padding: 5px 0 1px;
	background-color: #fff;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .two_image_box .pic2 img{
	width: 257px;
	height: 194px;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .second_imge_box{
	height: 522px;
	width: 164px;
	/*border: 1px solid red;*/
	float: left;
	text-align: center;
	position: relative;
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .second_imge_box .today{
	/*display: inline-block;*/
	font-size: 12px;
	color: #666;
	position: absolute;
	left: 0;
	bottom: 200px; 
}

.wrapper .main_wrapper .main_box .left_box .left_top_box .second_imge_box .tt{
	position: absolute;
	bottom: 0;
	left: 2px;
}

.wrapper .main_wrapper .main_box .right_box{
	width: 290px;
	height: 632px;
	position: absolute;
	right: 0;
	border: 1px solid black;
}







