* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	color: black;
}

html,body{
	background-color: #f4f4f4;
}

.wrapper {
	width: 100%;
	height: 1000px;

}

.wrapper .nav-wrapper {
	width: 100%;
	height: 35px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #eee;
}

.wrapper .nav-wrapper .nav-box {
	width: 1190px;
	height: 35px;
	margin: 0 auto;

}


.nav-box .nav-left {
	float:left;
}

.nav-box .nav-right {
	float: right;
}


.nav-box li{
	float: left;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	text-align: center;
	margin-right: 7px;
	padding: 0 2px;
}

.nav-box li a{
	color: #6C6C6C;
}

.nav-box li a:hover{
	color: #f22e00;
}

.nav-box .nav-left .login{
	color: #f22e00;
}

.nav-wrapper .nav-box .bg-a{
	display: inline-block;
	width: 8px;
	height: 8px;
	background-size: 100% 100%;
}

.nav-wrapper .nav-box .nav-xjb{
	background-image: url("img/arrow_down.png");
}

.nav-wrapper .nav-box .shop{
	background-image: url("img/shop.png");
}

.nav-wrapper .nav-box .star{
	background-image: url("img/star.png");
}

/*logo部分*/
.logo-wrapper {
	width: 100%;
	height: 121px;
	background-color: #fff;	
}

.logo-wrapper .logo-box {
	width: 1190px;
	padding-top: 24px;
	height: 88px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}


.logo-wrapper .logo-box .left-logo{
	width: 190px;
	height: 80px;
	margin-top: 8px;
	float:left;
}

.logo-box .left-logo .logo{
	display: inline-block;
	padding-top: 58px;
	width: 142px; 
	margin-left: 22px;
	background-size: 100% 100%;
	background-image: url("img/logo.png");
}

.logo-wrapper .logo-box .center-search {
	height: 87px; 
	margin-left: 240px;
	margin-right: 328px;
	/*border:1px solid black;*/
}

.logo-wrapper .logo-box .search-title {
	margin-left: 17px;
	height: 22px;
}

.logo-wrapper  .search-title-ul li{
	float:left;
	height: 22px;
	line-height: 22px;
	width: 36px;
	color:#F40;
	font-size: 12px;
	margin-right: 4px;
	text-align: center;
	
}

.logo-wrapper .logo-box .search-title-ul li:hover{
	color: #ff5400;
	background-color: #ffeee5;
}

.logo-wrapper .logo-box .select{
	font-weight: 700;
	color: #ffeee5;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

/*中间的搜索框*/
.logo-wrapper .center-search .search-box {
	height: 40px;
	position: relative;
}

.logo-wrapper .center-search .search-box .button {	
	width: 74px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);

}

.logo-wrapper .search-box .input-box{
	margin-right: 74px;
	height: 36px;
	border: 2px solid #f40;
	border-right: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	position: relative;
}

.logo-wrapper .search-box .input-box input {
	border: none;
	outline: none;
	position: absolute;
	left: 14px;
	top: 1px;
	display: inline-block;
	height: 34px;
	width: 95%;


}

.logo-wrapper .search-box .camera{
	position: absolute;
	right: 90px;
	top: 10px;

	display: inline-block;
	width: 18px;
	height: 18px;
	background-size: 100% 100%;
	background-image: url("img/camera.png");
}

.logo-wrapper .center-search .search-msg {
	width: 100%;
	height: 22px;
	margin-top: 5px;
	/*border:1px solid black;*/
}

.logo-wrapper .center-search .search-msg ul li{
	float: left;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	margin-right: 4px;
}

.logo-wrapper .center-search .search-msg ul li a{
	color: #6c6c6c;
}

.logo-wrapper .center-search .search-msg ul li a:hover,
.logo-wrapper .center-search .search-msg .selected{
	color: #f40;
}

.logo-wrapper .right-erweima{
	position: absolute;
	right: 120px;
	top: 10px;

	width: 90px;
	height: 90px;
	/*border:1px solid black;*/
}

.logo-wrapper .right-erweima .erweima {
	display: inline-block;
	width: 90px;
	height: 90px;
	background-size: 100% 100%;
	background-image: url("img/erweima.jpg");
}

/*中间的文字导航*/
.wrapper .title-wrapper {
	width: 100%;
	height: 30px;
}

.wrapper .title-wrapper .title-box {
	width: 1190px;
	height: 30px;
	margin: 0 auto;
}

.title-wrapper .title-box .title-mail {
	float:left;
	width: 190px;
	height: 30px;
}


.title-wrapper .title-box .title-all {
	float:left;
	width: 1000px;
	height: 30px;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}

.title-wrapper .title-box .title-mail .zhuti{
	display: inline-block;
	width: 190px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: 700;
	color: #fff;
	background-color: #f40;
}

.title-wrapper .title-box .title-all ul{
	float:left;
}

.title-wrapper .title-box .title-all ul li{
	float:left;
	height: 30px;
	line-height: 30px;
	font-weight: 700;
	margin: 0 3px;
	padding: 0 4px;
}

.title-wrapper .title-box .title-all ul li a{
	color: #fff;
	padding: 0 5px;
}



.title-wrapper .title-box .title-all .pipe{
	margin-left: 7px;
}

.title-wrapper .title-all .title-second {
	font-size: 14px;
}

.title-wrapper .title-all .title-third {
	font-size: 14px;
}

.wrapper .main-wrapper {
	width: 100%;
	height: 630px;
}

.wrapper .main-wrapper .main-box {
	width: 1190px;
	height: 100%;
	margin:0 auto;
	/*border: 1px solid black;*/
}

.main-box .main-left {
	float: left;
	width: 900px;
	height: 100%;
}

.main-box .main-left .main-left-top {
	width: 100%;
	height: 520px;

}

.main-left .main-msg-list {
	float: left;
	width: 190px;
	height: 520px;
	background-color: #fff;
	/*background-color: pink;*/

	
}

.main-left .main-msg-list .msg-ul {
	width: 188px;
	/*margin-top: 2px;*/
	height: 518px;
	padding-top: 2px;
	border:1px solid #f40;
	border-top: none;
}

.main-left .main-msg-list .msg-ul li{
	float: left;
	font-size: 12px;
	color: #666;
	font-weight: 400;
	width: 144px;
	height: 32px;
	line-height: 32px;

	padding-right: 19px;
	padding-left: 25px;
	position: relative;
}

.main-left .main-msg-list .msg-ul li:hover {
	color:#ff5000;
	background-color: #ffe4dc;
}

.main-left .main-msg-list .msg-ul li:hover a{
	color:#ff5000;
}
.main-left .main-msg-list .msg-ul li:hover a:hover {
	text-decoration: underline;
}

.main-left .main-msg-list .msg-ul .bg-yjt {
	display: inline-block;
	width: 3px;
	height: 9px;
	background-size: 100% 100%;
	background-image: url("img/arrow_right.png");
	position: absolute;
	top:11px;
	right:5px;
}



.main-left .show-msg {
	float:left;
	height: 100%;
	width: 700px;
	/*background-color: pink;*/
}

.main-left .show-msg .show-left-box {
	float: left;
	height: 100%;
	width: 520px;
	margin-left: 10px;
}

.main-left .show-msg .show-left-box img{
	margin-top: 10px;
}

.show-msg .show-left-box .other-msg .tianmao-png {
	margin-top: 10px;
	height: 18px;
	border-bottom: 2px solid #f40;
	font-size: 12px;
	color: #666;
	position: relative;
}

.show-msg .show-left-box .other-msg .tianmao-png .tianmao-intro {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	margin-left: 22px;
	color: #666;
}

.show-msg .show-left-box .other-msg .tianmao-png .tianmao-msg {
	font-size: 16px;
	color:red;
}

.show-msg .show-left-box .other-msg .tianmao-png .tianmao-logo {
	display: inline-block;
	width: 40px;
	height: 18px;
	line-height: 18px;
	background-size: 100% 100%;
	background-image: url("img/tiaomao.jpg");
}

.show-msg .show-left-box .other-msg .tianmao-png .tianmao-num {
	position: absolute;
	right: 0;
	top: 0;

}

.show-msg .show-left-box .other-msg .tianmao-png .tianmao-num em{
	font-style: normal;
	color: red;
}

.show-msg .show-left-box .other-msg .two-png {
	padding: 0 10px;
	background-color: #fff;
	position: relative;
}

.show-msg .show-left-box .other-msg .two-png .sen-img {
	position: absolute;
	right: 10px;

}

.main-left .show-msg .show-right-box {
	float: left;
	height: 100%;
	width: 160px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 12px;
}

.main-left .show-msg .show-right-box .today-shop{
	display: inline-block;
	margin-top: 10px;
	color:#666;
}

.main-box .main-left .main-left-bottom {
	margin-right: 10px;
	margin-top: 10px;
	height: 100px;
	background-color: #fff;
	position: relative;
}

.main-box .main-left .main-left-bottom .left-toutiao {
	float: left;
	width: 200px;
	height: 100%;
	/*background-color: pink;*/
	font-size: 14px;
}

.main-box .main-left .main-left-bottom .left-toutiao .left-logo {
	display: block;
	width: 140px;
	height: 40px;
	background-size: 100% 100%;
	background-image: url(img/toutiao.jpg);
	/*position: absolute;*/
	margin-top: 20px;
	margin-left: 30px;
}

.main-box .main-left .main-left-bottom .left-toutiao .left-fun {
	color:#666;
	display: block;
	width: 140px;
	margin-left: 30px;
}


.main-box .main-left .main-left-bottom .left-msg-png {
	float: left;
	height: 100%;
	width: 690px;
	position: relative;
	/*background-color: red;*/
}

.main-box .main-left .main-left-bottom .left-msg-png .msg-logo{
	display: inline-block;
	width: 140px;
	height: 60px;
	background-size: 100% 100%;
	background-image: url("img/damowan.jpg");
	position: absolute;
	top: 20px;

}

.main-box .main-left .main-left-bottom .left-msg-png .msg-all-title {
	display: block;
	position: absolute;
	top: 20px;
	left: 150px;
}
.main-box .main-left .main-left-bottom .left-msg-png .msg-more:hover,
.main-box .main-left .main-left-bottom .left-msg-png .msg-all-title:hover {
	color: #f40;
}

.main-box .main-left .main-left-bottom .left-msg-png .msg-all {
	display: block;
	position: absolute;
	top: 44px;
	left: 150px;
	font-size: 14px;
	color: #666;
}

.main-box .main-left .main-left-bottom .left-msg-png .msg-more {
	display: inline-block;
	width: 50px;
	height: 22px;
	line-height: 22px;
	/*background-color: pink;*/
	position: absolute;
	top: 20px;
	right: 0;
	color: #666;
	font-size: 12px;
}

.main-box .main-right{
	float:left;
	width: 290px;
	height: 620px;
	margin-top: 10px;
	/*background-color: pink;*/
	background-color: #fff;
}

.main-right .user-box {
	/*height: 100%;*/
	margin-top: 10px;
	height: 145px;
	/*margin-top: 10px;*/
	background-color: #fff;
}

.main-right .user-box .user-msg {
	width: 100%;
	height: 90px;
	position: relative;
	font-size: 12px;
}

.user-msg .user-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
	background-image: url(img/user.jpg);
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -25px;
}

.user-msg .user-welcome {
	display: inline-block;
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	
	position: absolute;
	top: 70px;
	left: 50%;
	margin-left: -25px;
	color: #666;
}
.user-box .two-user-msg {
	text-align: center;
	/*background-color: red;*/
}
.two-user-msg a {
	display: inline-block;
	padding-right: 10px;
	background-color: #ffe4db;
	color: #ff5000;
	font-size: 12px;
	border-radius: 5px;
	height: 20px;
	line-height: 20px;
}

.two-user-msg span{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	margin-top: 4px;
	background-size: 100% 100%;
	background-image: url(img/jinbi.jpg);
	border-radius: 3px;
}

.user-box .user-login-box {
	margin-top: 5px;
}
.user-box .user-login-box ul li{
	float:left;
	margin-right: 5px;
	padding: 0 5px;
}

.user-login-box ul li a{
	display: inline-block;
	width: 75px;
	height: 22px;
	line-height: 22px;
	color: #fff;
	background-color: #f40;
	border-radius: 3px;
	font-weight: 400;
	text-align: center;
	font-size: 12px;
}

.user-login-box .login {
	width: 90px;
	margin-left: 5px;
}

.main-right .bad-msg-box {
	width: 100%;
	height: 26px;
}

.main-right .bad-msg-box a {
	display: inline-block;
	width: 100%;
	height: 26px;
	line-height: 26px;
	background-color: #ffe4dd;
	color: #f40;
	font-size: 12px;
	text-align: center;
	/*position: relative;*/
}

.main-right .bad-msg-box .tran{
	display: inline-block;
	border-left: 7px solid #f40;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	margin-left: 32px;
}

.main-right .msg-box {
	padding-top: 10px;
	height: 98px;
	width: 100%;
	font-size: 12px;
}

.main-right .msg-box .five-title {
	margin-top: 4px;
	margin-right: -2px;
	padding: 0 8px;
	height: 24px;
}

.main-right .msg-box .five-title li{
	float: left;
	width: 32px;
	height: 20px;
	text-align: center;
	margin: 0 11px;
}

.main-right .msg-box .five-title li a{
	color: #3c3c3c;
}

.main-right .msg-box .five-title .selected{
	font-weight: 700;
	border-bottom: 2px solid #f40;
}

.msg-box .four-msg {
	margin: 0 12px;
    height: 50px;
    overflow: hidden;
    padding-top: 9px;
    padding-bottom: 6px;
}

.msg-box .four-msg li{
	float: left;
	width: 130px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.msg-box .four-msg li .selected,
.msg-box .four-msg li a:hover {
	color: #f40;
}

.main-right .function-box {
	font-size: 12px;
	height: 230px;
	background-color: #fff;
}


.main-right .function-box ul{
	border-top: 1px solid #f4f4f4;
	border-left: 1px solid #f4f4f4;
}

.main-right .function-box ul li {
	float: left;
	width: 71px;
	height: 70px;
	text-align: center;
	border-right: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}

.main-right .function-box ul li a {
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 80px;
	position: relative;
}
.main-right .function-box ul li a:hover{
	color: #f40;
}

.main-right .function-box span {
	display: block;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	background-image: url(img/fuwu1.png);

	position: absolute;
	top: 8px;
	right: 25px;
}

.main-right .function-box .icon1 {
	background-image: url(img/fuwu1.png);
}
.main-right .function-box .icon2 {
	background-image: url(img/fuwu2.png);
}

.main-right .function-box .icon4 {
	background-image: url(img/fuwu4.png);
}

.main-right .function-box .icon5 {
	background-image: url(img/fuwu5.png);
}

.main-right .function-box .icon6 {
	background-image: url(img/fuwu6.png);
}

.main-right .function-box .icon7 {
	background-image: url(img/fuwu7.png);
}

.main-right .function-box .icon8 {
	background-image: url(img/fuwu8.png);
}

.main-right .function-box .icon9 {
	background-image: url(img/fuwu9.png);
}

.main-right .function-box .icon10 {
	background-image: url(img/fuwu10.png);
}

.main-right .function-box .icon11 {
	background-image: url(img/fuwu11.png);
}

.main-right .function-box .icon12 {
	background-image: url(img/fuwu12.png);
}

.main-right .app-box {
	width: 290px;
	height: 100px;
	position: relative;
}

.main-right .app-box .ali{
	display: inline-block;
	/*width: 100%;*/
	margin-left: 10px;
	height: 20px;
	line-height: 20px;
	font-weight: 700;

}

.main-right .app-box .more{
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	position: absolute;
	top: 0;
	right: 10px;
}

.main-right .app-box .more:hover {
	color: #f40;
}

.main-right .app-box ul{
	margin-top: 10px;
	height: 80px;
}

.main-right .app-box ul li{
	float: left;
	width: 55px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.main-right .app-box ul li a{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-size: 100% 100%;
}

.main-right .app-box .app1 {
	background-image: url(img/icon1.jpg);
}

.main-right .app-box .app2 {
	background-image: url(img/icon2.jpg);
}

.main-right .app-box .app3 {
	background-image: url(img/icon3.jpg);
}

.main-right .app-box .app4 {
	background-image: url(img/icon4.jpg);
}

.main-right .app-box .app5 {
	background-image: url(img/icon5.jpg);
}

.main-right .app-box .app6 {
	background-image: url(img/icon6.jpg);
}

.main-right .app-box .app7 {
	background-image: url(img/icon7.jpg);
}

.main-right .app-box .app8 {
	background-image: url(img/icon8.jpg);
}

.main-right .app-box .app9 {
	background-image: url(img/icon9.jpg);
}

.main-right .app-box .app10 {
	background-image: url(img/icon10.jpg);
}
